azure-ai-agentserver-langgraph==1.0.0b17
azure-identity==1.19.0
python-dotenv==1.0.1
pandas==2.2.3
langgraph==0.6.5
langchain-core==0.3.64
langchain-openai==0.2.14
langchain==0.3.14
azure-core-tracing-opentelemetry==1.0.0b12
